.card {
    margin-bottom: 1em;
    text-align: center;
    width: 85vw;
}

.image-avatar{
    width: 30%;
}

#avatar-small {
    width: 7em;
    border-radius: 50%;
    height: 7em;  
    margin-bottom: 1em;
}

  .footer-demandCard{
    display: flex;
    flex-direction: column;
    padding: 1em;
}

