.child-form {
    display: flex;
    justify-content: center;
    width: 18em;
}

.child-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

#child-avatar {
    border-radius: 50%;
    width: 9em;
    height: 9em;
    margin-bottom: 1em;
}

#chevron-left {
    margin-right : 1em;
}

#chevron-right {
    margin-left : 1em;
}