.next-button {
    display: flex;
    justify-content: center;  
}
#next-button {
    background-color: #ff3dc2bb;
    border: none;
    border-style: none;
    border-radius: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: white;
    height: 3em;
    width: 15em;
    font-size: 1em;
    margin-top: 1em;  
}