
.validate-button {
    display: flex;
    justify-content: center;  
    margin-bottom: 2em;
} 

.validate-button p {
    margin-left: 0.3em;
    font-family: "Open Sans", sans-serif;
    font-weight: bold !important;
    font-size: 1em !important;
} 

.validate-button-active {
    background-color: #ff3dc2bb;
    border: none;
    border-style: none;
    border-radius: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: white;
    height: 3em;
    width: 15em;
    font-size: 1em;
    margin-top: 1em;  
    display: flex;
    align-items: baseline;
    justify-content: center;
}
.validate-button-passive {
    background-color: grey;
    border: none;
    border-style: none;
    border-radius: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: white;
    height: 3em;
    width: 15em;
    font-size: 1em;
    margin-top: 1em; 
    display: flex;
    align-items: baseline;
    justify-content: center; 
    }
    
.button-content {
    display: flex;
    align-items: baseline;
    margin-top: 0.3em;
    }