.main-head {
    background-color: #224069;
    height: 4.5em;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8em;
    margin-bottom: 1em;
    font-family: 'Archivo Black', sans-serif, Arial, "Helvetica Neue", Helvetica, sans-serif;
  }

  /* #header {
    margin-right: 0em;
    font-weight: 400;
    font-size: 1.5em;
  } */