table, td {
    border : 1px solid #ff3dc2bb;
    text-align: center;
}

table {
    margin-bottom: 2em;
    width: 85vw
}

td {
    width: 8em;
    cursor: grab;
}

.active {
    background-color: #ff3dc2bb;
    color: white;
}

.passive {
    background-color: white; 
    color : #ff3dc2bb;
}