/* Home Page : ACCEUIL */
.mainHome {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
  }

  .welcome {
    font-size: 1.4em;

  }

  .welcomeText {
    font-size: 1em;
    font-weight: 300;
    text-align: center;
    margin-bottom: 2em;
  }
  /* HEADER  */
  .headerHome {
    background-color: #893cc1;
    height: 4.5em;
    color : white;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 0.8em;
    margin-bottom: 1em;
    word-break: break-all !important;
   
}

      /* menu button */
  .homeBtn {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-flow: row nowrap;
    padding: 1em;
    margin: 0.8em;
    width: 20em;
    height: 4.5em;
    border-radius: 10px;
    box-shadow: 1px 3px 3px 2px #77838F65;
    color: black
  }

  .homeBtn:hover {
    background-color: #ff3dc2bb;
  }
  
  .textBtn {
    font-family: 'Montserrat' sans-serif;
    font-weight: 500;
    font-size: 1.2em;
    margin-left: 1em;
  }

 /* logout button */

  .logout-button {
    display: flex;
    justify-content: center;  
}
#logout-button {
    background-color: grey;
    border: none;
    border-style: none;
    border-radius: 15px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: white;
    height: 3em;
    width: 20em;
    font-size: 1em;
    margin-top: 5em;  
}

#logout-button:hover {
  background-color: #ff3dc2bb;
}

.logout {
  margin-top : 2em;
  color : #893cc1;
}