.main-child-card-result-detail {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    border: 1px solid #893cc1;
    align-items: center;
    height: 15em;
    color : black
}

.main-child-card-result-detail p{
    margin : 0;
}

.avatar {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 40%;
    height: auto;
    border-radius: 50%;
}
