/* Page des resultats */

.Result-Page {
    display: flex;
    flex-flow: column wrap;
    margin-left: 2em;
    margin-right: 2em;
    padding-bottom: 2em;
    text-align: center;
    }
    
    .Result-Page hr {
      border-top: 1em thin;
      width: 100%;
    }
    /* bouton bas de page  */
    .Result-filterbarBot {
      display: flex;
      justify-content: center;
      padding: 0em 1em 1em 0em;
    }

/* card de l'annonce */
    
.mainResultCard .link {
    display: flex;
    margin-bottom: 2em;
    border: 1px solid #893cc1;
    padding: 1em;
}
    a {
    text-decoration: none;
    }

    .contact_leftside{
        display: flex;
        flex-direction: column;
    }
    .contact_leftside .avatar{
            border-radius: 50%;
            margin-right: 1em;
            width: auto;
            }
        .name{
            text-align: center;
            color: black;
        }

    .contact_rightside{
        background-color: #8a3cc17e;
        display: flex;
        align-items: center;
    }
        .biography {
            color: white;
            font-style: italic;
            text-align: center;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 10em;
        }

/* Détail de l'annonce */

.mainResultDetail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .avatar{
        margin: 0;
        width: 40%;
        height: auto;
        border-radius: 50%;
    }

    .user_identity{
        display: flex;
    }

    .user_identity p{
        margin-right: 0.3em;        
    }
     
