/* Détail de l'annonce */

.main-result-detail {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    margin-left: 1em;
    margin-right: 1em;
}
.parent-avatar{
    margin-bottom: 1em;
    width: 9em;
    height: 9em;
    border-radius: 50%;
}

.parent-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
   }
 
.biography {
    font-style: italic;
    text-align: center;
    padding: 1em;
}

.parent-availabilities {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
}

.parent-children {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h5{
    text-align: center;
}

.loading {
    margin-left: 2em;
}

.toggle-parent-button{
    width: 20em;
    color : #ff3dc2bb;
    background-color : white;
    border : 1px solid #ff3dc2bb;
    height: 3em;
}

.toggle-parent-button:hover{
    width: 20em;
    color : white;
    background-color : #ff3dc2bb;
    border : 1px solid white;
}

.contact-parent-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top : 2em;
}